body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('/image/Logo.png.png');
    background-repeat: no-repeat;
    background-position: left center;
     
    
}

header, footer {
    background-color: #425c06;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 1rem;
}

form {
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 2rem auto;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #425c06;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #425c06;
}
